<h1>New Game</h1>
<div class="container">
  <div class="row">
    <ul class="list-inline">
      <% step = 0 %>
      <% @letters.each do |let| %>
      <li class="list-inline-item letter">
        <%= @letters[step] %>
        <% step += 1  %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="container">
  <h3>What is the longes Word that you find?</h3>
  <form action="score" method="post" class="form-inline">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :letters, @letters %>
    <div class="form-group">
      <input class="form-control" type="text" name="answer_user" placeholder="word ...">
      <button type="submit" class="btn btn-primary">Play!</button>
    </form>
  </div>
</div>
